<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <h1 class="px-3 mx-auto">Welcome to
        <strong>Tamemo</strong>!
      </h1>
    </div>
  </div>
</main>