/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar-dark-custom .navbar-brand,
.navbar-dark-custom .navbar-nav .nav-link {
  color: white;
}

.navbar {
  font-family: 'Anton', sans-serif;
}

footer {
  font-family: 'Anton', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background-image: url('background_image3.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.contents {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
