// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}

.users_main {
  display: flex;
}

.card {
  margin: 20px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 60px;
}

.money_text {
  font-size: 24px; /* 言葉のフォントサイズ */
}

.money_text span {
  font-size: 36px; /* 数値のフォントサイズ */
}

.money_text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 33%;
}

.user_info, .money_info {
  display: flex;
  vertical-align: top;
}

.wrapper {
  display: flex;
  justify-content: space-between; /* user_info と money_info を横に並べる */ /* ここをなくすことで好きなようにユーザー情報と金額情報の位置を調整することができる*/
  padding-top: 45px;
}

.info_wrapper {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.border {
  border: 4px solid #696969;
  border: none;
}

.rounded-image {
    border-radius: 50%;
  }

.goal_text {
  margin-top: 20px;
  font-weight: bold;
  display: flex;
  margin-left: 20px;
  font-size: 30px;
}

.all_users {
  text-align: center;
  margin-top: 20px;
}

.btn-tall {
  height: 50px;
}

.col-md-4 {
  height: 300px;
  margin-top : 30px;
}

// .col-md-9 {
//   outline: 4px solid black;
//   outline-offset: -15px;
// }

.goal-rate,
.total-unbuy {
  padding-top: 40px;
  // font-size: 40px;
}

.small-text  {
  font-size: 40px;
}

.rounded-image {
  width: 75px;
  height: 75px;
}