<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark-custom">
  <a class="navbar-brand" href="#">Tamemo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link text-right" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/users/<%= current_user.id %>">My page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/posts">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link text-right" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/home/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/users/sign_up">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="/users/sign_in">Log in</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>